.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;  }
  
  .spacer {
    flex: 1 1 auto;
  }
  